body {font-family: tahoma; font-size: 14px; color: #333}

#net_wrapper {margin:auto; display: table;}
.net {border-collapse: collapse; margin:30px auto; border: 3px solid #555; font-family: verdana; 
	font-size: 26px; position: relative; z-index:5; width: 486px}
.net td {width:50px; height: 50px; border: 1px solid #777; text-align: center; cursor: pointer;}
.net td:nth-child(3), .net td:nth-child(6)
	{border-right: 3px solid #555}
.net tr:nth-child(3), .net tr:nth-child(6)
	{border-bottom: 3px solid #555}
.net .lock {color: #000; font-weight: bold; cursor: default;}

#construct_mode {display:inline-block; padding: 5px 7px; margin: 20px 50px; cursor: pointer;}
#construct_mode.on {background: #666; color: #fff}
#construct_mode.off {background:white; color: #333}

#nums {display:table; margin: 10px auto}
#nums .num {cursor: pointer; display:inline-block; padding: 3px 10px; font-size: 28px}
#nums .on {background: #666; color: #fff}
#nums .off {background:white; color: #333}

#nums #pencil {cursor: pointer; display:inline-block; padding: 3px 10px; font-size: 28px; margin-right: 5px}
#nums #erase  {cursor: pointer; display:inline-block; padding: 3px 10px; font-size: 28px; margin-left: 5px}

.small_num {display: inline-block; font-size: 12px; position: relative; z-index: 1}

.net .edit {background: #BA0000; color: #fff}

