body {font-family:Tahoma; font-size: 14px; color: #666;}

.sudoku_table {border-collapse: collapse;}
.sudoku_table td {padding: 5px 10px; border: 1px dotted #999}
.sudoku_table td:nth-child(3n+3) {border-right: 2px solid #000;}
.sudoku_table tr:nth-child(3n+3) {border-bottom: 2px solid #000;}
.sudoku_table td:nth-child(1) {border-left: 2px solid #000;}
.sudoku_table tr:nth-child(1) {border-top: 2px solid #000;}
